{{ template "base" . }}

{{ define "title" }} Home {{ end }}

{{ define "styles" }}
<link rel="stylesheet" href="/static/css/home.css">
{{ end }}

{{ define "scripts" }}
<script src="/static/js/delete.js"></script>
{{end}}

{{ define "main" }}
<h1 class="heading">All latest articles</h1>
<div class="articles">
    <ul class="articles_list">
        {{ range . }}
            <li class="article_list_item">
                <h2>{{.Title}}</h2>
                <h3>{{.Category}}</h3>
                <h3>{{.Author}}</h3>
                <p>Description: {{.Description}}
                <p>Published at: {{.PublishedAt}}</p>
                <h5>Readership: {{.Readership}}</h5>
                <div>
                    <a href="/edit?id={{.ID}}" class="button">Edit</a>
                    <button class="button del_btn" data-id="{{.ID}}">Delete</button>
                </div>
            </li>
        {{ end }}
    </ul>
</div>
{{ end }}